build/lib/make_question_google_gemini_api/__init__.py
make_question_google_gemini_api.egg-info/*
make_question_google_gemini_api/__pycache__/*
make_question_google_gemini_api/__pycache__/*
tests/__pycache__/*
